<launch>
    <node name="hotword" pkg="theta_speech" type="hotword_node.py" />
    <node name="stt" pkg="theta_speech" type="stt_node.py" />
    <node name="tts" pkg="theta_speech" type="tts_node.py" />
    <node name="qa" pkg="theta_speech" type="question_node.py" />
    <node name="speech_recognition_task" pkg="theta_speech_recognition_task" type="speech_recognition.py" />
    
</launch>
